.slds-page-header{
    background: #d0d0c7;
}
.slds-card{
    border-radius: 0;
}
.total{
    background: #d0d0c7;
}
.slds-modal__header{
    background: #f3f2f2;
}
.slds-p-around_medium{
    background: #f3f2f2;
}